.top-page-header{
  height: 80px;
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
}

.search-bar-contents{
  display: flex;
  justify-content: space-between;
  width: 70%;
  align-items: center;
}

.search-form{
  justify-content: flex-end;
}

.input-box{
  height: 30px;
  width: 30vw;
}

.kaigo-logo{
  height: 90px;
}

.nav{
  display: flex;
  justify-content: flex-end;
  width: 30%;
  align-items: center;
}


.lists-right{
  width: 100%;
  display: flex;
  list-style: none;
  justify-content:flex-end;
}

ul.lists-right li{
  padding-right: 7px;
}



.login{
  margin: 0 20px;
}